{% extends "crsq/timeline-news/base.html" %}
{% load staticfiles %}

{% block bodycontent %}

	<div id="news-timeline" style="margin-top:60px!important;padding-top:20px!important"></div>
	

{% endblock %}

{% block jscontent %}

	<script type="text/javascript" src="{% static 'crsq/js/timeline-news/storyjs-embed.js' %}"></script>
	<script>
	    var json = $.getJSON("http://54.254.100.216/static/crsq/data/timeline-news/{{ timeline_name }}.json", function(data){
	    	$(document).ready(function() {
		        createStoryJS({
		            type:       'timeline',
		            width:      '100%',
		            height:     '600',
		            source:     data,
		            font:       '',
		            embed_id:   'news-timeline'
        		});
		    });
	    });
	</script>

{% endblock %}
