{% extends "crsq/timeline-news/base.html" %}
{% load staticfiles %}

{% block bodycontent %}

	<style type="text/css">

	.vco-storyjs .vco-slider .slider-item .content .content-container .text .container  h3 {
		font-size: 22px!important;
		line-height: 24px!important;
		margin-bottom: 6px!important;
	}

	.vco-storyjs .vco-slider .slider-item .content .content-container .text .container h2.date {
		font-size: 12px!important;
		line-height: 12px!important;
        }

        .vco-storyjs .vco-slider .slider-item .content .content-container .text .container p {
                font-size: 15px!important;
		line-height: 18px!important;
        }
	
	</style>

	<div id="news-timeline"></div>
	

{% endblock %}

{% block jscontent %}

	<script type="text/javascript" src="{% static 'crsq/js/timeline-news/storyjs-embed.js' %}"></script>
	<script>
	    var json = $.getJSON("http://54.254.100.216/static/crsq/data/timeline-news/{{ timeline_name }}.json", function(data){
	    	$(document).ready(function() {
		        createStoryJS({
		            type:       'timeline',
		            width:      '100%',
		            height:     '600',
		            source:     data,
		            font:       '',
		            embed_id:   'news-timeline'
        		});
		    });
	    });
	</script>

{% endblock %}
