{% extends "crsq/articlegroup/base.html" %}
{% load staticfiles %}
{% load tagfilter %}

{% block title %}
Real-time news on Popular Topics
{% endblock %}

{% block bodycontent %}
	<div class="jumbotron">
	  <h1>Pocket News</h1>
		<p>Hate reading full page long articles? Want quick 4 sentence summary of articles? Want a comprehensive list of articles by topic? You are at the right place!</p>
		<p style="font-size:100%">Coming Soon on<br/><img src="{% static 'crsq/img/articlegroup/gplay.png' %}"/><img src="{% static 'crsq/img/articlegroup/ios.png' %}"/></p>
	</div>


        <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-12">
                        <h4>Trending Topics search : "{{ tagsearch | crsq_unslugify }}"</h4>
                </div>
        </div>
        <div class="row">
                    {% for tag in taglist %}
                        <div class="col-sm-3 col-lg-3 col-md-3">
                        	<a href="/articlegroup/{{ tag | slugify }}" target="_blank"><p class="list-group-item-text">{{ tag | crsq_unslugify }}</p></a>
                        </div>
                    {% endfor %}
                <br/>
        </div>

{% endblock %}

