{% extends "crsq/articlegroup/base.html" %}
{% load staticfiles %}

{% block title %}
Real-time news related to "{{ tag | title }}"
{% endblock %}

{% block bodycontent %}
	    <h2>Real-time news related to "{{ tag | title }}"</h2>
	    {% for article in articles %}
		  <div class="row" style="margin-top:35px;">
		  <div class="col-sm-3 col-lg-3 col-md-3">
		  <img class="articleimage" src="{% static 'crsq/img/twitter-newspaper/loading.gif' %}" data-original="{{ article.articleimage }}" alt="" style="width:100%;">
		  </div>
		  <div class="col-sm-9 col-lg-9 col-md-9">
		  <h4 style="margin-top:0px;"><a rel="nofollow" target="_blank" href="{{ article.url }}">{{ article.articletitle }}<br/><small>{{ article.domain }}{% if article.articledate %} - {{ article.articledate | date:"D d M Y" }}{% endif %}</small></a></h4>
                  <p style="text-align:justify">{{ article.articlesummary }}</p><br/><br/>
                  <p class="ratings">{{ article.fbpower }} shares / {{ article.twitterpower }} tweets</p>
		  <p class="tags">{% for t in article.tags %} <a href="/articlegroup/{{t | slugify}}" target="_blank">{{ t | title}}</a> {% if not forloop.last %}, {% endif %} {% endfor %}</p>

		  </div>
		  </div>
		  <hr/>
	    {% endfor %}

{% endblock %}

{% block jscontent %}
    <script>
	$(window).load(function() { 
            $('.articleimage').lazyload();
          });
    </script>

{% endblock %}

