{% extends "crsq/articlegroup/base.html" %}
{% load staticfiles %}
{% load tagfilter %}

{% block title %}
Real-time news related to "{{ tag | crsq_unslugify }}"
{% endblock %}

{% block navbartitle %}
Pocket News - {{ tag | crsq_unslugify }}
{% endblock %}

{% block bodycontent %}
	    {% comment %}<h2>Real-time news related to "{{ tag | crsq_unslugify }}"</h2>{% endcomment %}
	    {% for article in articles %}
		  <div class="row swipeenabled" style="margin-top:35px;display:none" >
		  <div class="col-sm-3 col-lg-3 col-md-3" style="margin-bottom:2px;">
		  <div style="width:100%;height:150px;position:relative;overflow:hidden;">
		  <img class="articleimage" src="{% static 'crsq/img/twitter-newspaper/loading.gif' %}" data-src="{{ article.articleimage }}" alt="{{ tag | crsq_unslugify }} News - {{ article.articletitle }}" style="width:100%;position:absolute;margin:auto;top:0;left:0;right:0;"/>
		  </div>
		  </div>
		  <div class="col-sm-9 col-lg-9 col-md-9">
		  <h4 style="margin-top:0px;"><a rel="nofollow" target="_blank" href="{{ article.url }}">{{ article.articletitle }}<br/><small>{{ article.domain }}{% if 0 %} - {{ article.articledate | date:"D d M Y" }}{% endif %}</small></a></h4>
                  <p style="text-align:justify"><i>Summary:</i> {{ article.articlesummary }}</p><br/><br/>
                  <p class="ratings">{{ article.fbpower }} shares / {{ article.twitterpower }} tweets</p>
		  <p style="text-align:justify" class="tags">{% for t in article.tags %}<a href="/articlegroup/{{t | slugify}}">{{ t | crsq_unslugify }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>

		  </div>
		  </div>
	    {% endfor %}
{% endblock %}

{% block jscontent %}
    <script type="text/javascript" src="{% static "crsq/js/articlegroup/jquery.touchSwipe.min.js" %}"></script>
    <script>
	$(document).ready(function() { 
            $('.articleimage').jail({loadHiddenImages : true});
	    $('.swipeenabled').first().css('display', 'block');
	    $('.swipeenabled').swipe({
		  swipeLeft:function(event, direction, distance, duration, fingerCount) {
			    if ($(this).next('.swipeenabled').length > 0) {
				    $(this).css('display', 'none');
				    $(this).next().css('display', 'block');
			    }
		  },
		  swipeRight:function(event, direction, distance, duration, fingerCount) {
			   if ($(this).prev('.swipeenabled').length > 0) {
				   $(this).css('display', 'none');
				   $(this).prev().css('display', 'block');
			   }
		  }
	     });
          });

    </script>

{% endblock %}

