{% extends "crsq/articlegroup/base.html" %}
{% load staticfiles %}

{% block title %}
Real-time news on Popular Topics
{% endblock %}

{% block bodycontent %}
	<h2>Real-time news on Popular Topics</h2>
	<br/>
	    <h4>Trending Topics on Google Search:</h4>
	    {% for country, listofsearch in google_trends.items %}
		<div class="row">
			<div class="col-sm-2 col-lg-2 col-md-2">
				{{ country }}:
			</div>
			{% for s in listofsearch %}
			<div class="col-sm-2 col-lg-2 col-md-2">
				<a href="/articlegroup/{{ s | slugify }}" target="_blank">{{ s | title }}</a>
			</div>
			{% endfor %}
		</div>
	    {% endfor %}
	<br/>
	    <h4>Popular News Topics:</h4>
	    <div class="row">
	    {% for tag in taglist %}
		  <div class="col-sm-2 col-lg-2 col-md-2">
			<a href="/articlegroup/{{ tag | slugify }}" target="_blank">{{ tag | title }}</a>
		  </div>
	    {% endfor %}
	    </div>
{% endblock %}

