{% extends "crsq/articlegroup/base.html" %}
{% load staticfiles %}
{% load tagfilter %}

{% block title %}
Real-time news on Popular Topics
{% endblock %}

{% block bodycontent %}
	<div class="jumbotron">
	  <h1>Pocket News</h1>
		<p>Hate reading full page long articles? Want quick 4 sentence summary of articles? Want a comprehensive list of articles by topic? You are at the right place!</p>
		<p style="font-size:100%">Coming Soon on<br/><img src="{% static 'crsq/img/articlegroup/gplay.png' %}"/><img src="{% static 'crsq/img/articlegroup/ios.png' %}"/></p>
	</div>


        <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-12">
                        <h4>Trending Topics on Google Search:</h4>
                </div>
        </div>
        <div class="row">
                    {% for country, listofsearch in google_trends %}
                        <div class="col-sm-3 col-lg-3 col-md-3">
                                <div class="panel panel-default">
                                        <div class="panel-heading">{{ country }} News</div>

                                          <ul class="list-group">
                                                {% for s in listofsearch %}
                                                        <li class="list-group-item">
                                                                <a href="/articlegroup/{{ s | slugify }}" target="_blank"><p class="list-group-item-text">{{ s | crsq_unslugify }}</p></a>
                                                        </li>
                                                {% endfor %}
                                          </ul>
                                </div>

                        </div>
                    {% endfor %}
                <br/>
        </div>

	<div class="row">
		<div class="col-sm-6 col-lg-6 col-md-6">
			<h4>Recent Articles</h4>
			<div class="list-group">
				{% for article in recent_articles %}
  	 			<div class="list-group-item">
			   	<a rel="nofollow" href="{{ article.url }}" target="_blank"><h4 class="list-group-item-heading">{{ article.articletitle }}</h4></a>
				<p class="list-group-item-text"><i>{{ article.domain }}</i></p>
				<p class="list-group-item-text">{{ article.summary }}</p>
	  			</div>
				{% endfor %}
			</div>  
		</div>
		<div class="col-sm-6 col-lg-6 col-md-6">
			<h4>Popular Articles</h4>
                        <div class="list-group">
                                {% for article in popular_articles %}
                                <div class="list-group-item">
                                <a rel="nofollow" href="{{ article.url }}" target="_blank"><h4 class="list-group-item-heading">{{ article.articletitle }}</h4></a>
                                <p class="list-group-item-text"><i>{{ article.domain }}</i></p>
                                <p class="list-group-item-text">{{ article.summary }}</p>
                                </div>
                                {% endfor %}
                        </div>
		</div>
	</div>
	
	{% comment %}
        <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-12">
                        <h4>Popular News Topics:</h4>
                </div>
        </div>

        <div class="row">
                    {% for alphabet, listoftags in tagdict %}
			<div class="col-sm-1 col-lg-1 col-md-1">	
			<div class="dropdown" style="margin:4px;">
			  <button class="btn dropdown-toggle" type="button" id="articletopic-{{ alphabet }}" data-toggle="dropdown">
			    {{ alphabet }}
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="articletopic-{{ alphabet }}">
	                          {% for s in listoftags %}
        	                          <li role="presentation">
                	                          <a role="menuitem" tabindex="-1" href="/articlegroup/{{ s | slugify }}" target="_blank"><p class="list-group-item-text">{{ s | crsq_unslugify }}</p></a>
                                          </li>
                                  {% endfor %}
			  </ul>
			</div>
			</div>
                    {% endfor %}
                <br/>
        </div>
	{% endcomment %}

{% endblock %}

