{% load staticfiles %}
{% load tagfilter %}

<!DOCTYPE html>
<html lang="en">
<body>

From: {{ e.emailfrom }}<br/>
To: {{ e.emailto }}<br/>
Cc: {{ e.emailccto }}<br/>
Bcc: {{ e.emailbccto }}<br/>
Subject: {{ e.subject }}<br/><br/>
Body: {{ e.body }}<br/><br/>
ShortBody: {{ e.shortbody }}<br/><br/>
CleanBody: {{ e.cleanbody }}<br/><br/>
Tags: {{ e.tags }}<br/><br/>
Introduction Email??: {{ e.introductiontags }}<br/><br/>
EventTags: {{ e.eventtags }}<br/><br/>
EventTags2: {{ e.eventtags2 }}<br/><br/>

Recommended Links:<br/>
{% for r in recommendedlinks %}
        <a href='{{ r }}' target="_blank">{{ r }}</a><br/>
{% endfor %}
<br/>

Recommended Links from Introduction:<br/>
{% for r in recommendedlinks_from_introduction %}
        <a href='{{ r }}' target="_blank">{{ r }}</a><br/>
{% endfor %}
<br/>

Recommended Emails:<br/>
{% for r in recommendedemails %}
        <a href='/emailrecommender/{{ r.1 }}' target="_blank">{{ r.0  }}</a><br/>
{% endfor %}
<br/>


</body>
</html>
