body {
  font-family: "Open Sans", "Comic Sans MS", cursive, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 50px;
}

.caption {
  height:217px;
  overflow: hidden;
}

.caption h4 {
  line-height:inherit;
}

.ratings {
  margin:0px;
}

.domain {
  margin:0px;
}

.articledate {
  margin:0px;
}

.sharers {
  margin:0px;
}

.tags {
  margin:0px;
}

.topic {
  margin:0px;
}

.summary {
	text-align: justify;
}

footer {
  margin: 50px 0;
}

.descimage {
	max-width:90%;
	width: 180px;
	padding:4px;
	height:120px;
	background-color:#ddd;
}

a.list-group-item {
  color: #428bca;
}

#flickimage {
	position:fixed;
	top:160px;
	z-index:1000;
	width:300px;
	display:none;
}
