body {
  padding-top: 50px;
}

.caption {
  height:217px;
  overflow: hidden;
}

.caption h4 {
  line-height:inherit;
}

.ratings {
  /*color: #d17581;*/
  font-size: 90%;
  margin:0px;
}

.domain {
  font-size: 90%;
  margin:0px;
}

.articledate {
  font-size: 90%;
  margin:0px;
}

.sharers {
  font-size: 90%;
  margin:0px;
}

.tags {
  font-size: 90%;
  margin:0px;
}

.topic {
  font-size: 90%;
  margin:0px;
}

#topicsearch {
   width: 300px;
}

footer {
  margin: 50px 0;
}
