{% load staticfiles %}
{% load tagfilter %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block metadescription %}{% endblock %}">
    {% block canonicalurl %}{% endblock %}

    <title>{% block title %}ZippedNews{% endblock %}</title>
    {% compress css %}
    <!-- Bootstrap core CSS -->
    <link href="{% static "crsq/css/zippednewsapp/bootstrap.readable.min.css" %}" rel="stylesheet"/>
    <!-- Add custom CSS here -->
    <link href="{% static "crsq/css/zippednewsapp/zippednewsapp.css" %}" rel="stylesheet"/>
    {% endcompress %}
    <link rel="alternate" href="android-app://com.zippednews/?q={{ request.path | cut:'/zippednewsapp/' | urlencode }}" />
    <link rel="shortcut icon" href="{% static 'crsq/img/zippednewsapp/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'crsq/img/zippednewsapp/favicon.ico' %}" type="image/x-icon">
  </head>

  <body>

    {% block navcontent %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" style="height:31px;" href="/"><img class="navbar-image" style="height:31px;padding-right:4px;" src="{% static 'crsq/img/zippednewsapp/zippednewslogo.svg' %}" alt="ZippedNews - News Summarizer" />{% block navbartitle %}ZippedNews{% endblock %}</a>
        </div>

        <div class="collapse navbar-collapse">
	  <ul class="nav navbar-nav navbar-right">
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
   {% endblock %}

    <div id="bodyarea" class="container">
	<div class="row" style="text-align:center">
	<img id="loadingspinner" src="{% static 'crsq/img/zippednewsapp/loading_gif_64x64.gif' %}" style="position:fixed;top:250px;z-index:100;display:none;left:47%;right:48%;width:5%" alt="Loading..."/>
	</div>
	{% block bodycontent %}
	{% endblock %}
    </div><!-- /.container -->    

    {% block footercontent %}
    <div class="container">
      <hr>
      <footer>
	<div class="row">
		<div class="col-lg-12">
		Topics starting with 
		{% for alphabet in "abcdefghijklmnopqrstuvwxyz0123456789" %}
			<a href="/crsqsearch/{{alphabet }}">{{ alphabet }}</a>&nbsp;
		{% endfor %} 
		</div>
	</div>
	<br/>
        <div class="row">
          <div class="col-lg-12">
	    <hr/>
            <p>Legal Disclaimer: This is a personal project. I am attributing domain and traffic to all the publishers I am analysing content for. In case its in violation of your distribution rights or you have any objection with the content, please email me at admin @ zippednews.com and I will remove the content within 48 hours of receipt of the email.</p>
          </div>
        </div>
      </footer>
    </div><!-- /.container -->
    <div style="position:fixed;left:0px;bottom:0px;">
                <a href="https://play.google.com/store/apps/details?id=com.zippednews"><img src="{% static 'crsq/img/zippednewsapp/gplay.png' %}" alt="ZippedNews Google Play App" /></a>
    </div>

    {% endblock %}

    <!-- JavaScript -->
    {% compress js %}
    <script type="text/javascript" src="{% static "crsq/js/zippednewsapp/jquery-1.10.2.js" %}"></script>
    <script type="text/javascript" src="{% static "crsq/js/zippednewsapp/bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "crsq/js/zippednewsapp/jail.js" %}"></script>
    <script type="text/javascript" src="{% static "crsq/js/zippednewsapp/jquery-ui.js" %}"></script>
    <script type="text/javascript" src="{% static "crsq/js/zippednewsapp/jquery.cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "crsq/js/zippednewsapp/Hyphenator.js" %}"></script>
    {% endcompress %}
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

	{% block jscontent %}
	{% endblock %}

    <script type="text/javascript">
	$('a').click(function() {
		$("#loadingspinner").show().delay(10000).fadeOut("slow");
	 	return true;
	})
    </script>
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-48400385-1', 'zippednews.com');
	  ga('send', 'pageview');

    </script>

     <script type="text/javascript">
	Hyphenator.config({intermediatestate : 'visible'});
	Hyphenator.run();
     </script>

  </body>

</html>
