{% extends "crsq/zippednewsapp/base.html" %}
{% load staticfiles %}
{% load tagfilter %}

{% block title %}
ZippedNews - Real-time news on Popular Topics
{% endblock %}

{% block metadescription %}
	Real Time News starting with '{{ tagsearch }}'
        {% for tag in taglist %}
                  - {{ tag | crsq_unslugify }}
        {% endfor %}
{% endblock %}

{% block canonicalurl %}
<link rel="canonical" href="http://www.zippednews.com/crsqsearch/{{ tagsearch }}" />
{% endblock %}


{% block navcontent %}
{% endblock %}

{% block bodycontent %}
	<div class="jumbotron">
         <h1><img src="{% static 'crsq/img/zippednewsapp/zippednewslogo.svg' %}" style="height:69px;padding-right:15px;"/>ZippedNews</h1>
                <p style="text-align:justify">Want quick four sentence summary of articles? Want comprehensive news by topic? Here, Zip through News :)</p>
	</div>


        <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-12">
                        <h4>Topics search : "{{ tagsearch | crsq_unslugify }}"</h4>
                </div>
        </div>
        <div class="row">
                    {% for tag in taglist %}
                        <div class="col-sm-3 col-lg-3 col-md-3">
                        	<p class="list-group-item-text" style="margin-top:8px;margin-bottom:8px;"><a href="/{{ tag | slugify }}">{{ tag | crsq_unslugify }}</a></p>
                        </div>
                    {% endfor %}
                <br/>
        </div>

        <div class="jumbotron">
                <p style="text-align:justify">Available on <a href="https://play.google.com/store/apps/details?id=com.zippednews"><img src="{% static 'crsq/img/zippednewsapp/gplay.png' %}"/></a></p>
        </div>



{% endblock %}

