{% extends "crsq/zippednewsapp/base.html" %}
{% load staticfiles %}
{% load tagfilter %}

{% block title %}
{{ title | truncatechars:65}}
{% endblock %}

{% block metadescription %}
	{{ h1title }}
	{% for article in articles|slice:"5" %}
		 - {{ article.articletitle | truncatechars:50 }}
	{% endfor %}
{% endblock %}

{% block canonicalurl %}
<link rel="canonical" href="{{ canonicalurl }}" />
{% endblock %}

{% block bodycontent %}

		    <br/>
                    <div class="text-center">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- zippednews_web_large_leaderboard_1 -->
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:970px;height:90px"
                             data-ad-client="ca-pub-2782255430730944"
                             data-ad-slot="6089353108"></ins>
                        <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>


	    <h1>{{ h1title }}</h1>
	    {% if relatedtopics %}
	    <h2 style="font-size:100%;line-height:2;margin-top:11px;"><em>Related to "{{ tagname | crsq_unslugify }}"</em>:{% for s in relatedtopics|slice:"15" %} <a href="/{{ s }}" title="{{ s | crsq_unslugify }} - Real Time News">{{ s | crsq_unslugify }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</h2>
	    {% endif %}
            <h2 style="font-size:100%;line-height:2;margin-top:11px;"><em>Related Shopping Links</em>:<a target="_blank" rel="nofollow" href="http://www.amazon.com/s/?field-keywords={{ s | crsq_unslugify | urlencode }}&tag=cb02-20" title="Amazon Link for {{ s | crsq_unslugify }}">"{{ s | crsq_unslugify }}" at amazon.com</a>, <a target="_blank" rel="nofollow" href="http://dl.flipkart.com/search?q={{ s | crsq_unslugify | urlencode }}&affid=pratikphod" title="Flipkart Link for {{ s | crsq_unslugify }}">"{{ s | crsq_unslugify }}" at flipkart.com</a></h2>
	    <hr/>
	    
	    {% if articles %}
	    {% for article in articles %}

		{% if forloop.counter == 2 or forloop.counter|divisibleby:"4" %}
	            <div class="text-center">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- zippednews_web_large_leaderboard_1 -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:970px;height:90px"
			     data-ad-client="ca-pub-2782255430730944"
			     data-ad-slot="6089353108"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
	            </div>
		    <hr/>
		{% endif %}

		  <div class="row" style="margin-top:15px;">
		  <div class="col-sm-3 col-lg-3 col-md-3" style="border:solid;border-color:#eee;padding:9px;border-width:2px;">
		  <img class="articleimage" src="{% static 'crsq/img/zippednewsapp/loading.gif' %}" data-src="{{ article.articleimage }}" alt="{{ tagname | crsq_unslugify }} News - {{ article.articletitle }}" title="{{ tagname | crsq_unslugify }} News - {{ article.articletitle }}" style="width:100%;margin-bottom:10px;">
		  </div>
		  <div class="col-sm-9 col-lg-9 col-md-9">
		  <h4 style="margin-top:0px;"><a rel="nofollow" title="{{ tagname | crsq_unslugify }} News - {{ article.articletitle }}" target="_blank" href="{{ article.url }}">{{ article.articletitle }} <br/><small>{{ article.domain }}{% if article.articledate %} - {{ article.articledate | date:"D d M Y" }}{% endif %} </small></a></h4>
                  <p class="summary hyphenate">Summary: {{ article.articlesummary }} (<a rel="nofollow" title="{{ tagname | crsq_unslugify }} News - {{ article.articletitle }}" target="_blank" href="{{ article.url }}">Read full article</a>)</p><br/>
                  {% comment %}<p class="ratings">{{ article.fbpower }} shares / {{ article.twitterpower }} tweets</p>{% endcomment %}
		  <p class="tags">{% if article.tags %}Related Topics: {% endif %}{% for t in article.tags %}<a href="/{{t | slugify}}" title="{{ t | crsq_unslugify }} - Real Time News">{{ t | crsq_unslugify }}</a>{% if not forloop.last %}, {% endif %}{% endfor %} <span style="float:right"><a href="https://twitter.com/intent/tweet?button_hashtag=ZippedNews&amp;text={{ article.articletitle}}%20{{ article.url }}%20via%20{{ canonicalurl | urlencode }}" class="twitter-hashtag-button" data-lang="en" data-related="pratikpoddar">Tweet #ZippedNews</a></span></p>

		  </div>
		  </div>
		  <hr/>
	    {% endfor %}
	    {% else %}
	     <h4>
	     No results found! Please go to the homepage - <a href="http://www.zippednews.com" title="Zipped News">Zipped News</a>.
	     </h4>
	    {% endif %}

                    <div class="text-center">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- zippednews_web_large_leaderboard_1 -->
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:970px;height:90px"
                             data-ad-client="ca-pub-2782255430730944"
                             data-ad-slot="6089353108"></ins>
                        <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                    <hr/>

            {% if relatedtopics %}
            <h2 style="font-size:100%;line-height:2;margin-top:11px;"><em>Related to "{{ tagname | crsq_unslugify }}"</em>:{% for s in relatedtopics %} <a href="/{{ s }}" title="{{ s | crsq_unslugify }} - Real Time News">{{ s | crsq_unslugify }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</h2>
            {% endif %}
            <hr/>


		<div class="row">
		<div class="alert alert-primary" role="alert">
		      <strong>Yayy! You are saving 72% of your time.</strong><br/>You are reading news quickly at Zipped News and saving time. <u><a style="color:inherit;" href="http://ctt.ec/21ze0" target="_blank">Please tweet about us!</a></u>
		</div>
		</div>

{% endblock %}

{% block jscontent %}
    <script>
	$(window).load(function() { 
	    $('.articleimage').jail({loadHiddenImages : true});
          });
    </script>

{% endblock %}

