{% extends "crsq/zippednewsapp/base.html" %}
{% load staticfiles %}
{% load tagfilter %}

{% block title %}
{{ title | truncatechars:65 }}
{% endblock %}

{% block navbartitle %}
{{ tagname | crsq_unslugify | truncatechars:28}}
{% endblock %}


{% block metadescription %}
        {{ h1title }}
        {% for article in articles|slice:"4" %}
                 - {{ article.articletitle | truncatechars:40 }}
        {% endfor %}
{% endblock %}

{% block canonicalurl %}
<link rel="canonical" href="{{ canonicalurl }}" />
{% endblock %}


{% block bodycontent %}

<style type="text/css">
#bodyarea.container {
	font-size:120%;
	padding-right:0px;
	padding-left:0px;
}
.navbar-brand {
	padding-top: 3px;
	padding-bottom: 3px;
	height: auto!important;
}

.navbar {
	min-height: 0px;
	margin-bottom: 0px;
	height: 34px;
	overflow-y: hidden;
}

.navbar-image {
	height: 20px!important;
}

body {
	padding-top:33px!important;
}

</style>

                <div style="text-align:center;left:0px;right:0px;">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- zippednews_mobile_320x50_banner -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:320px;height:50px"
                     data-ad-client="ca-pub-2782255430730944"
                     data-ad-slot="4653195505"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                </div>


		{% if articles %}
		{% for article in articles %}

 		  {% if forloop.counter == 2 or forloop.counter|divisibleby:"5" %}

                   <div style="margin-top:15px;text-align:center" >
                     <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                     <!-- zippednews_mobile_medium_rectangle_1 -->
                     <ins class="adsbygoogle"
                     style="display:inline-block;width:300px;height:250px"
                     data-ad-client="ca-pub-2782255430730944"
                     data-ad-slot="3704086709"></ins>
                     <script>
                     (adsbygoogle = window.adsbygoogle || []).push({});
                     </script>
                  </div>
		  <hr/>

                  {% endif %}

		  <div style="margin-top:15px;" >
                  <div class="col-sm-3 col-lg-3 col-md-3" style="margin-bottom:2px;">
                  <h4 style="margin:0px;"><a rel="nofollow" target="_blank" href="{{ article.url }}">{{ article.articletitle }}<br/><small>{{ article.domain }}{% if article.articledate %} - {{ article.articledate | date:"D d M Y" }}{% endif %}</small></a></h4>
                  </div>
		  <div class="col-sm-3 col-lg-3 col-md-3" style="margin-bottom:2px;">
		  <div style="width:100%;height:180px;position:relative;overflow:hidden;">
		  <img class="articleimage" src="{% static 'crsq/img/zippednewsapp/loading.gif' %}" data-src="{{ article.articleimage }}" alt="{{ tagname | crsq_unslugify }} News - {{ article.articletitle }}" title="{{ tagname | crsq_unslugify }} News - {{ article.articletitle }}" style="width:100%;position:absolute;margin:auto;top:0;left:0;right:0;bottom:0px;background-color:#ddd;"/>
		  </div>
		  </div>
		  <div class="col-sm-6 col-lg-6 col-md-6">
                  <p class="summary hyphenate">Summary: {{ article.articlesummary }} (<a href="{{ article.url }}" target="_blank" rel="nofollow">Read Full Article</a>)</p>
		  <p class="tags">{% if article.tags %}Related Topics: {% endif %}{% for t in article.tags %}<a href="/{{t | slugify}}" title="{{ t | crsq_unslugify }} - Real Time News">{{ t | crsq_unslugify }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p><br/>

		  </div>
		  </div>
		  <hr/>

		{% endfor %}
		{% else %}
                <div class="col-sm-3 col-lg-3 col-md-3" style="margin-bottom:2px;">
		<h4>No results found! Please go to the homepage - <a href="http://www.zippednews.com" title="Zipped News">Zipped News</a>.</h4><br/><br/><br/>
		</div>
		{% endif %}

                <div style="margin-top:15px;text-align:center" >
                     <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                     <!-- zippednews_mobile_medium_rectangle_1 -->
                     <ins class="adsbygoogle"
                     style="display:inline-block;width:300px;height:250px"
                     data-ad-client="ca-pub-2782255430730944"
                     data-ad-slot="3704086709"></ins>
                     <script>
                     (adsbygoogle = window.adsbygoogle || []).push({});
                     </script>
                </div>
		<hr/>

		{% if relatedtopics %}
                <div style="margin-top:15px;" >
                        <div class="panel panel-default" style="text-align:center">
                                <div class="panel-heading">Related topics</div>
                                <ul class="list-group">
                                          {% for s in relatedtopics %}
                                          	<a href="/{{ s | slugify }}" title="{{ s | crsq_unslugify }} - Real Time News" class="list-group-item"><p class="list-group-item-text">{{ s | crsq_unslugify }}</p></a>
                                           {% endfor %}
                                </ul>
                         </div>
                </div>

	        <div style="text-align:center;left:0px;right:0px;">
	        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	        <!-- zippednews_mobile_320x50_banner -->
	        <ins class="adsbygoogle"
	             style="display:inline-block;width:320px;height:50px"
	             data-ad-client="ca-pub-2782255430730944"
	             data-ad-slot="4653195505"></ins>
	        <script>
	        (adsbygoogle = window.adsbygoogle || []).push({});
	        </script>
	        </div><br/><br/>

		{% endif %}

{% endblock %}

{% block footercontent %}
{% endblock %}


{% block jscontent %}

    <script>
	$(window).ready(function() {

            $('.articleimage').jail({loadHiddenImages : true});
	    if (!($.cookie("returnuser")==1)) {		
		    $.cookie("returnuser", 1);
		}
      });

    </script>

{% endblock %}

