{% extends "crsq/zippednewsapp/base.html" %}
{% load staticfiles %}
{% load tagfilter %}

{% block title %}
ZippedNews: Real-time news related to "{{ tag | crsq_unslugify }}"
{% endblock %}

{% block navbartitle %}
ZippedNews - {{ tag | crsq_unslugify }}
{% endblock %}

{% block bodycontent %}

	    {% comment %}<h2>Real-time news related to "{{ tag | crsq_unslugify }}"</h2>{% endcomment %}
	    {% for article in articles %}
		  <div class="row swipeenabled" style="margin-top:35px;left:auto;right:auto;display:none;" >
		  <div class="col-sm-3 col-lg-3 col-md-3" style="margin-bottom:2px;">
		  <div style="width:100%;height:180px;position:relative;overflow:hidden;">
		  <img class="articleimage" src="{% static 'crsq/img/twitter-newspaper/loading.gif' %}" data-src="{{ article.articleimage }}" alt="{{ tag | crsq_unslugify }} News - {{ article.articletitle }}" style="width:100%;position:absolute;margin:auto;top:0;left:0;right:0;bottom:0px;"/>
		  </div>
		  </div>
		  <div class="col-sm-9 col-lg-9 col-md-9">
		  <h4 style="margin-top:0px;"><a rel="nofollow" target="_blank" href="{{ article.url }}">{{ article.articletitle }}<br/><small>{{ article.domain }}{% if 0 %} - {{ article.articledate | date:"D d M Y" }}{% endif %}</small></a></h4>
                  <p style="text-align:justify"><i>Summary:</i> {{ article.articlesummary }}</p><br/><br/>
		  <p style="text-align:justify" class="tags">{% for t in article.tags %}<a href="/zippednewsapp/{{t | slugify}}">{{ t | crsq_unslugify }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>

		  </div>
		  </div>
	    {% endfor %}
{% endblock %}

{% block footercontent %}
{% endblock %}


{% block jscontent %}
    <script type="text/javascript" src="{% static "crsq/js/zippednewsapp/jquery.touchSwipe.min.js" %}"></script>
    <script type="text/javascript" src="{% static "crsq/js/zippednewsapp/jquery-ui.js" %}"></script>
    <script>
	$(document).ready(function() { 
            $('.articleimage').jail({loadHiddenImages : true});
	    $('.swipeenabled').first().show();
	    $('.swipeenabled').draggable({ axis: "x", stop: function( event, ui ) { $(this).css('left', 'auto'); $(this).css('right', 'auto');  } });
	    $('.swipeenabled').swipe({
		  swipeLeft:function(event, direction, distance, duration, fingerCount) {
			    if ($(this).next('.swipeenabled').length > 0) {
				    $(this).hide("slide", { direction: "left" }, 400, function() { 
					    $(this).css('left', 'auto'); $(this).css('right', 'auto');
					    $(this).next().show("slide", { direction: "right" }, 400);
				    })
			    }
		  },
		  swipeRight:function(event, direction, distance, duration, fingerCount) {
			   if ($(this).prev('.swipeenabled').length > 0) {
				   $(this).hide("slide", { direction: "right" }, 400, function() {
				   	$(this).css('left', 'auto'); $(this).css('right', 'auto');
				   	$(this).prev().show("slide", { direction: "left" }, 400);
				   })
			   }
		  }
	     });
          });

    </script>

{% endblock %}

