{% extends "crsq/zippednewsapp/base.html" %}
{% load staticfiles %}
{% load tagfilter %}

{% block title %}
{% if tag == "technology-top-trending" or tag == "sports-top-trending" or tag == "science-top-trending" or tag == "health-top-trending" or tag == "world-top-trending" or tag == "business-top-trending" or tag == "politics-top-trending" or tag == "top-trending" or tag == "technology-latest-news" or tag == "sports-latest-news" or tag == "science-latest-news" or tag == "health-latest-news" or tag == "world-latest-news" or tag == "business-latest-news" or tag == "politics-latest-news" or tag == "latest-news" %}
{{ tag | crsq_unslugify }} News - ZippedNews
{% else %}
{{ tag | crsq_unslugify }} - Latest news on {{ tag | crsq_unslugify }} - ZippedNews
{% endif %}
{% endblock %}

{% block metadescription %}
	{% if articles %}
	Real Time News related to '{{ tag | crsq_unslugify }}'
	{% endif %}
	{% for article in articles %}
		 - {{ article.articletitle }}
	{% endfor %}
{% endblock %}

{% block canonicalurl %}
http://www.zippednews.com/{{ tag }}
{% endblock %}

{% block bodycontent %}

		    <hr/>
                    <div>
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- zippednews_web_leaderboard_1 -->
                    <ins class="adsbygoogle"
                             style="display:inline-block;width:728px;height:90px"
                             data-ad-client="ca-pub-2782255430730944"
                             data-ad-slot="9119995102"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                    </div>
                    <hr/>

	    <h1>Real-time news related to "{{ tag | crsq_unslugify }}"</h1>
	    <h2 style="font-size:100%">Related to "{{ tag | crsq_unslugify }}":  {% for s in relatedtopics %} <a href="/{{ s | slugify }}" title="{{ s | crsq_unslugify }} - Real Time News">{{ s | crsq_unslugify }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</h2>
	    <hr/>
	    

	    {% for article in articles %}

		{% if forloop.counter|divisibleby:"5" %}
	            <div>
	            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	            <!-- zippednews_web_leaderboard_1 -->
        	    <ins class="adsbygoogle"
	                     style="display:inline-block;width:728px;height:90px"
	                     data-ad-client="ca-pub-2782255430730944"
	                     data-ad-slot="9119995102"></ins>
	            <script>
	            (adsbygoogle = window.adsbygoogle || []).push({});
        	    </script>
	            </div>
		    <hr/>
		{% endif %}

		  <div class="row" style="margin-top:35px;">
		  <div class="col-sm-3 col-lg-3 col-md-3">
		  <img class="articleimage" src="{% static 'crsq/img/zippednewsapp/loading.gif' %}" data-src="{{ article.articleimage }}" alt="{{ tag | crsq_unslugify }} News - {{ article.articletitle }}" title="{{ tag | crsq_unslugify }} News - {{ article.articletitle }}" style="width:100%;margin-bottom:10px;">
		  </div>
		  <div class="col-sm-9 col-lg-9 col-md-9">
		  <h4 style="margin-top:0px;"><a rel="nofollow" title="{{ tag | crsq_unslugify }} News - {{ article.articletitle }}" target="_blank" href="{{ article.url }}">{{ article.articletitle }} <br/><small>{{ article.domain }}{% if article.articledate %} - {{ article.articledate | date:"D d M Y" }}{% endif %} </small></a></h4>
                  <p class="summary hyphenate">Summary: {{ article.articlesummary }} </p><br/>
                  {% comment %}<p class="ratings">{{ article.fbpower }} shares / {{ article.twitterpower }} tweets</p>{% endcomment %}
		  <p class="tags">{% if article.tags %}Related Topics: {% endif %}{% for t in article.tags %}<a href="/{{t | slugify}}" title="{{ t | crsq_unslugify }} - Real Time News">{{ t | crsq_unslugify }}</a>{% if not forloop.last %}, {% endif %}{% endfor %} <span style="float:right"><a href="https://twitter.com/intent/tweet?button_hashtag=ZippedNews&text={{ article.articletitle}}%20{{ article.url }}%20via%20http%3A%2F%2Fwww.zippednews.com%2F{{ tag }}" class="twitter-hashtag-button" data-lang="en" data-related="pratikpoddar">Tweet #ZippedNews</a></span></p>

		  </div>
		  </div>
		  <hr/>
	    {% endfor %}

{% endblock %}

{% block jscontent %}
    <script>
	$(window).load(function() { 
	    $('.articleimage').jail({loadHiddenImages : true});
          });
    </script>

{% endblock %}

