{% extends "crsq/zippednewsapp/base.html" %}
{% load staticfiles %}
{% load tagfilter %}

{% block title %}
ZippedNews: Real-time news related to "{{ tag | crsq_unslugify }}"
{% endblock %}

{% block bodycontent %}
	    <h2>Real-time news related to "{{ tag | crsq_unslugify }}"</h2>
	    {% for article in articles %}
		  <div class="row" style="margin-top:35px;">
		  <div class="col-sm-3 col-lg-3 col-md-3">
		  <img class="articleimage" src="{% static 'crsq/img/twitter-newspaper/loading.gif' %}" data-src="{{ article.articleimage }}" alt="{{ tag | crsq_unslugify }} News - {{ article.articletitle }}" style="width:100%;margin-bottom:10px;">
		  </div>
		  <div class="col-sm-9 col-lg-9 col-md-9">
		  <h4 style="margin-top:0px;"><a rel="nofollow" target="_blank" href="{{ article.url }}">{{ article.articletitle }}<br/><small>{{ article.domain }}{% if 0 %} - {{ article.articledate | date:"d M Y" }}{% endif %}</small></a></h4>
                  <p style="text-align:justify"><i>Summary:</i> {{ article.articlesummary }}</p><br/><br/>
                  <p class="ratings">{{ article.fbpower }} shares / {{ article.twitterpower }} tweets</p>
		  <p style="text-align:justify" class="tags">{% for t in article.tags %}<a href="/{{t | slugify}}">{{ t | crsq_unslugify }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>

		  </div>
		  </div>
		  <hr/>
	    {% endfor %}

{% endblock %}

{% block jscontent %}
    <script>
	$(window).load(function() { 
	    $('.articleimage').jail({loadHiddenImages : true});
          });
    </script>

{% endblock %}

