{% extends "crsq/zippednewsapp/base.html" %}
{% load staticfiles %}
{% load tagfilter %}

{% block title %}
"{{ tag | crsq_unslugify }}" News: ZippedNews
{% endblock %}

{% block navbartitle %}
ZippedNews - {{ tag | crsq_unslugify | truncatechars:22}}
{% endblock %}

{% block bodycontent %}

<style type="text/css">
.navbar-brand {
	padding-top: 3px;
	padding-bottom: 3px;
	height: auto!important;
}

.navbar {
	min-height: 0px;
	margin-bottom: 0px;
}

body {
	padding-top:30px!important;
}
</style>

	    <img id="flickimage" src="{% static 'crsq/img/zippednewsapp/flick-gray.png' %}" style="position:absolute;top:260px;width:80%;display:none"/>
	    {% for article in articles %}
		  <div class="row swipeenabled" style="margin-top:15px;left:auto;right:auto;display:none;" >
		  <div class="col-sm-3 col-lg-3 col-md-3" style="margin-bottom:2px;">
		  <div style="width:100%;height:180px;position:relative;overflow:hidden;">
		  <img class="articleimage" src="{% static 'crsq/img/zippednewsapp/loading.gif' %}" data-src="{{ article.articleimage }}" alt="{{ tag | crsq_unslugify }} News - {{ article.articletitle }}" title="{{ tag | crsq_unslugify }} News - {{ article.articletitle }}" style="width:100%;position:absolute;margin:auto;top:0;left:0;right:0;bottom:0px;"/>
		  </div>
		  </div>
		  <div class="col-sm-9 col-lg-9 col-md-9">
		  <h4 style="margin:0px;"><a rel="nofollow" target="_blank" href="{{ article.url }}">{{ article.articletitle }}<br/><small>{{ article.domain }}{% if article.articledate %} - {{ article.articledate | date:"D d M Y" }}{% endif %}</small></a></h4>
                  <p style="text-align:justify;font-size:90%;"><i>Summary:</i> {{ article.articlesummary }} (<a href="{{ article.url }}" target="_blank">Read Full Article</a>)</p>
		 <p style="text-align:justify" class="tags">{% if article.tags %}<i>Related Topics:</i> {% endif %}{% for t in article.tags %}<a href="/{{t | slugify}}">{{ t | crsq_unslugify }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p><br/>

		<div class="addthis_toolbox addthis_default_style addthis_16x16_style" addthis:url="{{ article.url }}" addthis:title="{{ article.articletitle | truncatechars:100 }} - via #ZippedNews">
		<a class="addthis_button_facebook"></a>
		<a class="addthis_button_twitter"></a>
		<a class="addthis_button_google_plusone_share"></a>
		<a class="addthis_button_linkedin"></a>
		<a class="addthis_button_email"></a>
		</div>

		<br/><br/>
		<div class="well">
			<a href="http://www.zippednews.com" target="_blank" style="font-size:90%">Go to Zippednews homepage for new topics and trending news</a>
		</div>

		  
		  </div>
		  </div>
	    {% endfor %}

                  <div class="row swipeenabled" style="margin-top:15px;left:auto;right:auto;display:none;" >
                        <div class="panel panel-default">
                                <div class="panel-heading">That's all on "{{ tag | crsq_unslugify }}" for now. Read more on related topics:</div>
                                <ul class="list-group">
                                          {% for s in relatedtopics %}
                                                  <li class="list-group-item">
                                                          <a href="/{{ s | slugify }}"><p class="list-group-item-text">{{ s | crsq_unslugify }}</p></a>
                                                  </li>
                                           {% endfor %}
                                </ul>
                         </div>

			<br/><br/>
	                <div class="well">
        	                <a href="http://www.zippednews.com" target="_blank" style="font-size:90%">Go to Zippednews homepage for new topics and trending news</a>
                	</div>

                  </div>

{% endblock %}

{% block footercontent %}
<br/><br/>
{% endblock %}


{% block jscontent %}

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-535dfc3b5355e5f7"></script>
    <script>
	$(document).ready(function() {
            $('.articleimage').jail({loadHiddenImages : true});
	    $('.swipeenabled').first().show();
	    $("#flickimage").delay(6000).fadeIn("slow").delay(1500).fadeOut("slow", function() {$("#flickimage").remove()});
	    $('.swipeenabled').draggable({ axis: "x", stop: function( event, ui ) { $(this).css('left', 'auto'); $(this).css('right', 'auto');  } });
	    $('.swipeenabled').swipe({
		  swipeLeft:function(event, direction, distance, duration, fingerCount) {
			    if ($(this).next('.swipeenabled').length > 0) {
				    $(this).hide("slide", { direction: "left" }, 150, function() { 
					    $(this).css('left', 'auto'); $(this).css('right', 'auto');
					    $(this).next().show("slide", { direction: "right" }, 10);
				    })
			    }
		  },
		  swipeRight:function(event, direction, distance, duration, fingerCount) {
			   if ($(this).prev('.swipeenabled').length > 0) {
				   $(this).hide("slide", { direction: "right" }, 150, function() {
				   	$(this).css('left', 'auto'); $(this).css('right', 'auto');
				   	$(this).prev().show("slide", { direction: "left" }, 10);
				   })
			   }
		  },
		  threshold: 30
	     });
          });

    </script>

{% endblock %}

