{% extends "crsq/zippednewsapp/base.html" %}
{% load staticfiles %}
{% load tagfilter %}

{% block title %}
ZippedNews: Real-time news on Popular Topics
{% endblock %}

{% block navcontent %}
{% endblock %}

{% block bodycontent %}

	<img id="flickimage" src="{% static 'crsq/img/zippednewsapp/swipe.png' %}"/>
	<div class="jumbotron">
	  <h1><img src="{% static 'crsq/img/zippednewsapp/zippednewslogo.svg' %}" style="height:34px;padding-right:8px;"/>ZippedNews</h1>
		<p style="text-align:justify; font-size:95%">Hate reading full page long articles? Get <u>summary</u> of a <u>comprehensive list</u> of articles by topic! Zip through News :)</p>
	</div>

        <div class="row">
                        <div class="panel panel-default" style="text-align:center">
                                <div class="panel-heading">Trending News by Topic</div>
                                        <ul class="list-group">
                                            <a href="http://www.zippednews.com/top-trending?topic=t&name=Technology" title="Technology - Real Time News" class="list-group-item"><p class="list-group-item-text">Technology</p></a>
                                            <a href="http://www.zippednews.com/top-trending?topic=s&name=Sports" title="Sports - Real Time News" class="list-group-item"><p class="list-group-item-text">Sports</p></a>
                                            <a href="http://www.zippednews.com/top-trending?topic=snc&name=Science" title="Science - Real Time News" class="list-group-item"><p class="list-group-item-text">Science</p></a>
                                            <a href="http://www.zippednews.com/top-trending?topic=m&name=Health" title="Health - Real Time News" class="list-group-item"><p class="list-group-item-text">Health</p></a>
                                            <a href="http://www.zippednews.com/top-trending?topic=w&name=World" title="World - Real Time News" class="list-group-item"><p class="list-group-item-text">World</p></a>
                                            <a href="http://www.zippednews.com/top-trending?topic=b&name=Business" title="Business - Real Time News" class="list-group-item"><p class="list-group-item-text">Business</p></a>
                                            <a href="http://www.zippednews.com/top-trending?topic=e&name=Entertainment" title="Entertainment - Real Time News" class="list-group-item"><p class="list-group-item-text">Entertainment</p></a>
					    <a href="http://www.zippednews.com/top-trending?topic=p&name=Politics" title="Politics - Real Time News" class="list-group-item"><p class="list-group-item-text">Politics</p></a>
                                          </ul>
                        </div>
                <br/>
        </div>

        <div class="row">
                    	<div class="panel panel-default" style="text-align:center">
                        	<div class="panel-heading">Trending Topics</div>
	                                <ul class="list-group">
                                                {% for s in google_trends_US %}
                                                                <a href="/{{ s | slugify }}" title="{{ s | crsq_unslugify }} - Real Time News" class="list-group-item"><p class="list-group-item-text">{{ s | crsq_unslugify }}</p></a>
                                                {% endfor %}
                                          </ul>
                        </div>
                <br/>
        </div>

	<div class="row well">
		or choose a topic of your interest<br/>
                <form class="form-inline" role="form" action="http://www.zippednews.com/" method="get" style="width:100%">
                <div class="input-group">
                      <input name="topicsearch" type="text" class="form-control" placeholder="Enter Topic (eg: Microsoft Corp)">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Search</button>
                      </span>
                </div>          
                </form> 

	</div>

{% endblock %}

{% block footercontent %}
<br/><br/>
{% endblock %}


{% block jscontent %}
    <script>
        $(document).ready(function() {
	    var image = new Image()
	    image.src="{% static 'crsq/img/zippednewsapp/loading.gif' %}"
	    image.onload = function() {
	            $("#flickimage").delay(6000).fadeIn("slow").delay(3000).fadeOut("slow");
	    }
            $('body').swipe({
                  swipeLeft:function(event, direction, distance, duration, fingerCount) {
			var image = new Image()
			image.src = "{% static 'crsq/img/zippednewsapp/loading.gif' %}"
			image.onload = function() {
				var imgtag = "<img src=\"{% static 'crsq/img/zippednewsapp/loading.gif' %}\" alt=\"ZippedNews Loading....\" title=\"ZippedNews Loading....\" style=\"width:100%;position:absolute;margin:auto;top:0;left:0;right:0;bottom:0px;\"/>"
				$('body').html(imgtag)
				location.href="http://www.zippednews.com/top-trending"
			}
                  },
                  threshold: 30
             });
          });
    </script>
{% endblock %}
