{% extends "crsq/zippednewsapp/base.html" %}
{% load staticfiles %}
{% load tagfilter %}

{% block title %}
ZippedNews: Real-time news on Popular Topics
{% endblock %}

{% block navcontent %}
{% endblock %}

{% block bodycontent %}

	<div class="jumbotron">
	  <h1>ZippedNews</h1>
		<p style="text-align:justify">Hate reading full page long articles? Get <u>summary</u> of a <u>comprehensive list</u> of articles by topic! Zip through News :)</p>

        <div class="row">
        <div class="col-sm-6 col-lg-6 col-md-6" style="border:#444 1px">

                <p><button style="width:100%" class="btn btn-primary" onClick="document.location.href='http://www.zippednews.com/top-trending'">Get Trending News</button></p>
        </div>      
        <div class="col-sm-6 col-lg-6 col-md-6">
                  
                <form class="form-inline" role="form" action="http://www.zippednews.com/" method="get" style="width:100%">
                <div class="input-group">
                      <input name="topicsearch" type="text" class="form-control" placeholder="Enter Topic (eg: Microsoft Corp)">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Search</button>
                      </span>
                </div>          
                </form>                 
                                                
        </div>                                          
        </div>


	</div>

        <div class="row">
                    	<div class="panel panel-default" style="text-align:center">
                        	<div class="panel-heading">Trending Topics</div>
	                                <ul class="list-group">
                                                {% for s in google_trends_US %}
                                                        <li class="list-group-item">
                                                                <a href="/{{ s | slugify }}"><p class="list-group-item-text">{{ s | crsq_unslugify }}</p></a>
                                                        </li>
                                                {% endfor %}
                                          </ul>
                                </div>

                        </div>
                <br/>
        </div>


{% endblock %}

{% block footercontent %}
<br/><br/>
{% endblock %}


{% block jscontent %}
{% endblock %}
