{% extends "crsq/linkbook/base.html" %}
{% load staticfiles %}

{% block bodycontent %}

     <div class="row">
     <div class="col-sm-3 col-lg-3 col-md-3">

     <div class="panel panel-default">
              <div class="panel-body">
                <img src="{{ sharerimage }}" style="height:30px"/><br/>
		<h4><a href="{{ sharerlink }}" target="_blank">{{ sharername }}</a></h4>
		<p>Topic: {{ sharertopic }}</p>
		<p>{{ sharerquote }}</p>
              </div>
     </div>

     <div class="list-group">
  	  {% for article in article_list %}
	  <a href="{{ article.url }}" class="list-group-item" target="iframe_listbook">
            <h4 class="list-group-item-heading">{{ article.articletitle }}</h4>
	    <p class="list-group-item-text">{{ article.domain }}</p>
	    <p class="list-group-item-text">{{ article.articlecontent|truncatechars:90}}</p>
	  </a>
	  {% endfor %}
     </div>
     </div>

     <div class="col-sm-9 col-lg-9 col-md-9" style="height:4096px">
	<iframe src="" style="width:100%;height:100%;" name="iframe_listbook"></iframe>
     </div>
     
     </div>

{% endblock %}

{% block jscontent %}

{% for article in article_list %}
	{% for pl in article.preloads %}
		<link rel="prefetch" href="{{ pl }}">
	{% endfor %}
{% endfor %}

{% endblock %}

