{% extends "crsq/whatistrending/base.html" %}
{% load staticfiles %}
{% load tagfilter %}

{% block bodycontent %}

	<br/><br/>

	<div class="row text-center">
		<a href="?typeofrequest=google">Google Trends</a><br/>
		<a href="?typeofrequest=twitter">Twitter Trends</a><br/>
		<a href="?typeofrequest=youtube">Youtube Trends</a><br/>
		<a href="?typeofrequest=trends">All Trends</a><br/>
		<a href="?typeofrequest=topic&topic=cricket">Topic Pages</a><br/>
	</div>


	<br/><br/>
	
	{% if gt %}
        <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-12 text-center">
                        <h3>Google Trends</h3>
                </div>
        </div>
        <div class="row">
                    {% for country, listofsearch in gt %}
			{% if listofsearch %}
                        <div class="col-sm-3 col-lg-3 col-md-3">
                                <div class="panel panel-default">
                                        <div class="panel-heading">{{ country }}</div>

                                          <ul class="list-group">
                                                {% for s in listofsearch %}
                                                        <li class="list-group-item">
                                                                <a href="https://www.google.com/#q={{ s | crsq_unslugify }}" target="_blank"><p class="list-group-item-text">{{ s | crsq_unslugify | truncatechars:27}}</p></a>
                                                        </li>
                                                {% endfor %}
                                          </ul>
                                </div>
                        </div>
			{% endif %}
                    {% endfor %}
                <br/>
        </div>
	{% endif %}


	{% if tt %}
        <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-12 text-center">
                        <h3>Twitter Trends</h3>
                </div>
        </div>
        <div class="row">
                    {% for location, listoftrends in tt %}
			{% if listoftrends %}
                        <div class="col-sm-3 col-lg-3 col-md-3">
                                <div class="panel panel-default">
                                        <div class="panel-heading">{{ location }}</div>

                                          <ul class="list-group">
                                                {% for s in listoftrends %}
                                                        <li class="list-group-item">
                                                                <a href="https://twitter.com/search?q={{ s | crsq_unslugify }}&src=tren" target="_blank"><p class="list-group-item-text">{{ s | crsq_unslugify | truncatechars:27}}</p></a>
                                                        </li>
                                                {% endfor %}
                                          </ul>
                                </div>
                        </div>
			{% endif %}
                    {% endfor %}
                <br/>
        </div>
	{% endif %}

	{% if yt %}
        <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-12 text-center">
                        <h3>Youtube Trends</h3>
                </div>
        </div>
        <div class="row">
                    {% for location, listoftrends in yt %}
			{% if listoftrends %}
                        <div class="col-sm-3 col-lg-3 col-md-3">
                                <div class="panel panel-default">
                                        <div class="panel-heading">{{ location }}</div>

                                          <ul class="list-group">
                                                {% for s in listoftrends %}
                                                        <li class="list-group-item">
                                                                <a href="{{ s.1 }}" target="_blank"><p class="list-group-item-text">{{ s.0 | crsq_unslugify | truncatechars:27}}</p></a>
                                                        </li>
                                                {% endfor %}
                                          </ul>
                                </div>
                        </div>
			{% endif %}
                    {% endfor %}
                <br/>
        </div>
	{% endif %}

	{% if tp or qp or th %}
        <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-12 text-center">
                        <h3>Topic Pages</h3>
                </div>
        </div>
        <div class="row">
		<div class="input-group">
                      <input name="topicname" id="topicname" type="text" class="form-control" placeholder="Enter Topic">
                      <span class="input-group-btn">
                        <a class="btn btn-primary" onclick="location.href='?typeofrequest=topic&topic='+document.getElementById('topicname').value">Create Topic Pages</a>
                      </span>
                </div>
	</div>
	<br/>
	<div class="row">
		<div id="topicpages">
			<table class="table table-bordered">
			<tr>
				<td>Twitter Search Page</td><td><a href="{{ tp }}" target="_blank">{{ tp }}</a></td>
			</tr>
			<tr>
				<td>Quora Search Page</td><td><a href="{{ qp }}" target="_blank">{{ qp }}</a></td>
			</tr>
			<tr>
				<td>Twitter Handles</td><td>{% for ths in th %}<a href="http://www.twitter.com/{{ ths }}" target="_blank">{{ ths }}</a><br/>{% endfor %}</td>
			</tr>
			</table>
		</div>
	</div>
	{% endif %}


{% endblock %}

