{% load staticfiles %}
{% load tagfilter %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block metadescription %}{% endblock %}">
    {% block canonicalurl %}{% endblock %}

    <title>{% block title %}What is Trending{% endblock %}</title>
    {% compress css %}
    <!-- Bootstrap core CSS -->
    <link href="{% static "crsq/css/zippednewsapp/bootstrap.min.css" %}" rel="stylesheet"/>
    <link href="{% static "crsq/css/zippednewsapp/idangerous.swiper.css" %}" rel="stylesheet"/>
    <!-- Add custom CSS here -->
    <link href="{% static "crsq/css/zippednewsapp/zippednewsapp.css" %}" rel="stylesheet"/>
    {% endcompress %}
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic' rel='stylesheet' type='text/css'/>
  </head>

  <body>

    {% block navcontent %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" style="height:31px;" href="/">{% block navbartitle %}What is Trending{% endblock %}</a>
        </div>

        <div class="collapse navbar-collapse">
	  <ul class="nav navbar-nav navbar-right">
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
   {% endblock %}

    <div id="bodyarea" class="container">

	<br/><br/>
        <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-12 text-center">
                        <h3>Google Trends</h3>
                </div>
        </div>
        <div class="row">
                    {% for country, listofsearch in gt %}
			{% if listofsearch %}
                        <div class="col-sm-3 col-lg-3 col-md-3">
                                <div class="panel panel-default">
                                        <div class="panel-heading">{{ country }}</div>

                                          <ul class="list-group">
                                                {% for s in listofsearch %}
                                                        <li class="list-group-item">
                                                                <a href="https://www.google.com/#q={{ s | crsq_unslugify }}" target="_blank"><p class="list-group-item-text">{{ s | crsq_unslugify | truncatechars:27}}</p></a>
                                                        </li>
                                                {% endfor %}
                                          </ul>
                                </div>
                        </div>
			{% endif %}
                    {% endfor %}
                <br/>
        </div>


        <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-12 text-center">
                        <h3>Twitter Trends</h3>
                </div>
        </div>
        <div class="row">
                    {% for location, listoftrends in tt %}
			{% if listoftrends %}
                        <div class="col-sm-3 col-lg-3 col-md-3">
                                <div class="panel panel-default">
                                        <div class="panel-heading">{{ location }}</div>

                                          <ul class="list-group">
                                                {% for s in listoftrends %}
                                                        <li class="list-group-item">
                                                                <a href="https://twitter.com/search?q={{ s | crsq_unslugify }}&src=tren" target="_blank"><p class="list-group-item-text">{{ s | crsq_unslugify | truncatechars:27}}</p></a>
                                                        </li>
                                                {% endfor %}
                                          </ul>
                                </div>
                        </div>
			{% endif %}
                    {% endfor %}
                <br/>
        </div>


        <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-12 text-center">
                        <h3>Youtube Trends</h3>
                </div>
        </div>
        <div class="row">
                    {% for location, listoftrends in yt %}
			{% if listoftrends %}
                        <div class="col-sm-3 col-lg-3 col-md-3">
                                <div class="panel panel-default">
                                        <div class="panel-heading">{{ location }}</div>

                                          <ul class="list-group">
                                                {% for s in listoftrends %}
                                                        <li class="list-group-item">
                                                                <a href="{{ s.1 }}" target="_blank"><p class="list-group-item-text">{{ s.0 | crsq_unslugify | truncatechars:27}}</p></a>
                                                        </li>
                                                {% endfor %}
                                          </ul>
                                </div>
                        </div>
			{% endif %}
                    {% endfor %}
                <br/>
        </div>

    </div><!-- /.container -->

    {% block footercontent %}
    <div class="container">
      <hr>
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; Pratik Poddar (<a href="http://www.linkedin.com/in/pratikpoddar" target="_blank">http://www.linkedin.com/in/pratikpoddar</a>)</p>
          </div>
        </div>
      </footer>
    </div><!-- /.container -->

    {% endblock %}

    <!-- JavaScript -->
    {% compress js %}
    <script type="text/javascript" src="{% static "crsq/js/zippednewsapp/jquery-1.10.2.js" %}"></script>
    <script type="text/javascript" src="{% static "crsq/js/zippednewsapp/bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "crsq/js/zippednewsapp/jail.js" %}"></script>
    <script type="text/javascript" src="{% static "crsq/js/zippednewsapp/jquery-ui.js" %}"></script>
    <script type="text/javascript" src="{% static "crsq/js/zippednewsapp/idangerous.swiper.js" %}"></script>
    <script type="text/javascript" src="{% static "crsq/js/zippednewsapp/jquery.cookie.js" %}"></script>
    {% endcompress %}
	{% block jscontent %}
	{% endblock %}

  </body>

</html>
