{% extends "crsq/whatistrending/base.html" %}
{% load staticfiles %}
{% load tagfilter %}

{% block bodycontent %}

		<br/><br/>
                <table class="table table-striped">
                        <thead>
                        <tr>
                                <th>India Finance Valid Keywords</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for topic in india_fin_valid_keywords %}
                        <tr>
                                <td><a href="http://www.zippednews.com/{{ topic | slugify }}" target="_blank">{{topic}}</a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                </table>
                <br/>



	{% for trend in trends %}
		<table class="table table-striped">
			<thead>
			<tr>
				<th>{{ trend.country }} - {{ trend.sector }}</th>
			</tr>
			</thead>
			<tbody>
			{% for topic in trend.topics %}
			<tr>
				<td><a href="http://www.zippednews.com/{{ topic | slugify }}" target="_blank">{{topic}}</a></td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
		<br/>
	{% endfor %}

{% endblock %}

