
@media (min-width: 1300px) {
.container {
  width: 1270px;
}


body {
  padding-top: 70px;
  font-family: 'Open Sans', Arial, sans-serif;
}

footer {
  margin: 50px 0;
}

.linkbook_frame {
	height: 1066px;
	overflow: scroll;
}

.linkbook_list {
	height: 800px;
	overflow: scroll;
}
