{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Twitter Street Journal{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static "crsq/css/twitterstreetjournal/bootstrap.readable.min.css" %}" rel="stylesheet">
    <!-- Add custom CSS here -->
    <link href="{% static "crsq/css/twitterstreetjournal/twitterstreetjournal.css" %}" rel="stylesheet">
  </head>

  <body>
    {% block navcontent %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Twitter Street Journal</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#"></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
    {% endblock %}

    <div class="container">
	{% block bodycontent %}
	{% endblock %}
    </div><!-- /.container -->    

    <div class="container">
      <hr>
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; Pratik Poddar</p>
          </div>
        </div>
      </footer>
    </div><!-- /.container -->

    <!-- JavaScript -->
    <script src="{% static "crsq/js/twitterstreetjournal/jquery-1.10.2.js" %}"></script>
    <script src="{% static "crsq/js/twitterstreetjournal/bootstrap.js" %}"></script>
    <script src="{% static "crsq/js/twitterstreetjournal/jail.js" %}"></script>
	{% block jscontent %}
	{% endblock %}
  </body>

</html>
