{% extends "crsq/twitterstreetjournal/base.html" %}
{% load staticfiles %}
{% load tagfilter %}

{% block title %}
Real-time {{ sectorname }} news from {{ locationname }} - Twitter Street Journal
{% endblock %}

{% block bodycontent %}

          <h2>Popular Articles shared by

		<span class="dropdown">
		  <button class="btn dropdown-toggle" type="button" id="sectordropdown" data-toggle="dropdown">
			    {{ sectorname }}
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="sectordropdown">
		  {% for s in sector_list %}
			<li role="presentation"><a role="menuitem" tabindex="-1" href="/{{ s | slugify }}/{{ location }}">{{ s }}</a></li>
        	  {% endfor %}
		  </ul>
		</span>

		folks in 
		
                <span class="dropdown">
                  <button class="btn dropdown-toggle" type="button" id="locationdropdown" data-toggle="dropdown">
                            {{ locationname }}
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="locationdropdown">
                  {% for l in location_list %}
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/{{ sector }}/{{ l | slugify }}">{{ l }}</a></li>
                  {% endfor %}
                  </ul>
                </span>

	</h2>

            {% for article in article_list %}
                  <div class="row" style="margin-top:35px;">
                  <div class="col-sm-3 col-lg-3 col-md-3">
                  <img class="articleimage" src="{% static 'crsq/img/twitterstreetjournal/loading.gif' %}" data-src="{{ article.articleimage }}" alt="{{ sectorname }} News from {{ locationname }} - {{ article.articletitle }}" style="width:100%;margin-bottom:10px;">
                  </div>
                  <div class="col-sm-9 col-lg-9 col-md-9">
                  <h4 style="margin-top:0px;"><a rel="nofollow" target="_blank" href="{{ article.url }}">{{ article.articletitle }}<br/><small>{{ article.domain }}{% if article.articledate %} - {{ article.articledate | date:"D d M Y" }}{% endif %}</small></a></h4>
                  <p style="text-align:justify"><i>Summary:</i> {{ article.articlesummary }}</p>
                  {% comment %}<p class="ratings">{{ article.fbpower }} shares / {{ article.twitterpower }} tweets</p>{% endcomment %}
                  <p class="sharers">{% if article.sharers %} Shared by {% for sharer in article.sharers %}<a target="_blank" rel="nofollow" href="https://twitter.com/{{ sharer.author }}/status/{{ sharer.tweetid }}">@{{ sharer.author }} </a>{% endfor %}{% endif %}</p>

                  </div>
                  </div>
                  <hr/>
            {% endfor %}

	<div class="row" style="text-align:center">
	    <ul class="pager">
		  <li class="previous {% if page == 1 %}disabled{% endif %}"><a href={% if page == 1 %}#{% endif %}{% if page > 1 %}"/{{ sector }}/{{ location }}/{{ page | add:"-1" }}"{% endif %}>&larr; Recent</a></li>
		  <li class="next"><a href="/{{ sector }}/{{ location }}/{{ page | add:"1" }}">Older &rarr;</a></li>
	    </ul>
        </div>

{% endblock %}

{% block jscontent %}
    <script>
        $(window).load(function() { 
            $('.articleimage').jail({loadHiddenImages : true});
          });

    </script>

{% endblock %}

