{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>pen patron - Connecting Pen Holders (Content Writers from Colleges) to Patrons (Marketing Managers from Companies)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <!-- Le styles -->
        <style>
		/* Preloader */
		#preloader {
			position:fixed;
			top:0;
			left:0;
			right:0;
			bottom:0;
			background-color:#fff; /* change if the mask should have another color then white */
			z-index:999999; /* makes sure it stays on top */
		}
		
		#status {
			width:200px;
			height:200px;
			position:absolute;
			left:50%; /* centers the loading animation horizontally one the screen */
			top:50%; /* centers the loading animation vertically one the screen */
			background-image:url(images/preloader.gif); /* path to your loading animation */
			background-repeat:no-repeat;
			background-position:center;
			margin:-100px 0 0 -100px; /* is width and height divided by two */
		}
		#status p{text-align:center;}

		.aboutusicon {
			color: #666;
			font-size: 30px;
			padding: 10px;
			width: 60px;
		}

		</style>
        <link href="{% static 'crsq/css/penpatron/bootstrap.min.css?v=2' %}" rel="stylesheet">
        <link href="{% static 'crsq/css/penpatron/font-awesome.min.css?v=2' %}" rel="stylesheet">
        <link href="{% static 'crsq/css/penpatron/prettyPhoto.css?v=2' %}" rel="stylesheet">
        <link href="{% static 'crsq/css/penpatron/supersized.css?v=2' %}" rel="stylesheet">
        <link href="{% static 'crsq/css/penpatron/supersized.shutter.css?v=2' %}" rel="stylesheet">
        <link href="{% static 'crsq/css/penpatron/style.css?v=2' %}" rel="stylesheet">
        <link href="{% static 'crsq/css/penpatron/fonts.css?v=2' %}" rel="stylesheet" type="text/css">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="{% static 'crsq/img/penpatron/favicon.png' %}"><!--favicon image-->

	<body style="">
        <!-- Preloader -->
        <div id="preloader">
            <div id="status"><p>Loading "pen patron" ...</p></div>
        </div>
        
        <!--HOME SECTION START-->
    	<section id="home" class="clearfix">
        	<div class="header clearfix" style="background-color: rgb(0,0,0);">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-5 col-sm-4">
                            <a class="logo" href="#"><img alt="logo" src="images/logo.png" style="height:50px;max-width:none;"></a>
                        </div><!--/.col-md-4-->
                        <div class="col-md-8">
                        	<!--MENU BUTTON(ON TABLET/MOBILE) START-->
                        	<!--<div class="menu-btn" data-target=".nav-collapse" data-toggle="collapse">
                                <span class="fa fa-th"></span>
                            	</div>-->
                            <!--MENU BUTTON END-->
                            
                            <!--NAVIGATION START-->
                            <ul class="navigation nav-collapse">
                                <li><a href="#home">Home</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul><!--/.navigation-->
                             <!--NAVIGATION END-->
                             
                        </div><!--/.col-md-4-->
                    </div><!--/.row-->
                </div><!--/.container-->   
            </div><!--/.header-->

            <div class="clearfix"></div>
            <div class="container">
            	<div class="row">
                    <div class="col-md-12"> 


                    	<div class="slider-content clearfix">
                            <!--SLIDER CAPTION START-->  
                            <div class="title-caption" style="background-color: rgba(0,0,0,0.65);padding:5px;max-width:500px;margin:auto">
                                <h4 >Connecting Companies <br/> and Student Writers</h4>
                            </div><!--/.title-caption-->
                            <div id="slidecaption" align="center" style="text-transform:none;"> <h2></h2></div> 
                            <!--SLIDER CAPTION END--> 
                            <div class="centering" style="max-width:500px">
                                <div id="progress-back">
                                    <div id="progress-bar"></div><!--SLIDER PROGRESS BAR-->
                                </div>
                            </div><!--/.centering-->
                        </div><!--/.slider-content-->



                    </div><!--/.col-sm-6-->  
                	
                </div><!--/row-->
            </div><!--/container-->
        </section><!--/home-->
        <!--HOME SECTION END-->

        <!--ABOUT SECTION START-->
        <section id="about" class="clearfix content">
        	<div class="container">

            	<div class="title-content clearfix">
                	<div class="title-inner">
                    	<h3>About Us</h3>
                        <p>Things you Should Know</p>
                    </div><!--/.title-inner-->
                </div><!--/.title-content-->
                
                <!--ABOUT TAB START-->
            	<div class="tab-content white-bg">
                
                  <!--TAB CONTENT START-->
                  <div class="tab-pane active fade in active" id="history">
                  	 <img src="{% static 'crsq/img/penpatron/aboutus2bw.jpg' %}" alt="about">
                     <div class="white-bg clearfix">
                         <div class="row clearfix">
                             <div class="col-md-4">
                                 <div class="padding">
                                     <h2 class="about-title">Who we are?</h2>
                                 </div><!--/.padding-->
                             </div><!--/col-md-4-->
                             <div class="col-md-8">
                                 <div class="padding" style="word-wrap:break-word;white-space:normal;">
				
We are simplifying the process of content creation &amp; distribution and making it more efficient.<br/>
                                	<br/>
					<b>What's in it for students:</b><br/>
					<i class="fa fa-thumbs-up aboutusicon"></i>Build Reputation in companies, media and your community<br/>
					<i class="fa fa-group aboutusicon"></i>Increase exposure<br/>
					<i class="fa fa-unlock aboutusicon"></i>Create unadulterated content on topic you love - your view - no obstruction<br/>
					<i class="fa fa-suitcase aboutusicon"></i>Earn money, freebies, internships and jobs<br/>
					<br/>
					<b>What's in it for brands:</b><br/>
					<i class="fa fa-group aboutusicon"></i>Get Targeted Audience<br/>
					<i class="fa fa-comments-o aboutusicon"></i>Engage through power users<br/>
					<i class="fa fa-usd aboutusicon"></i>Pay per action<br/>
					<i class="fa fa-rocket aboutusicon"></i>Drive virality<br/>
					<br/>

<!--					<b>Why are student writers better:</b><br>
					<ol>
					<li>Students consume more content</li>
					<li>Student writers are more up-to-date, more opinionated and they influence their followers more than mature writers</li>
					<li>They are not exorbitantly priced</li>
					<li>The viral coefficient with students is more</li>
					</ol>-->

			        
                                 </div><!--/.padding-->
                                 <div class="spacing40 clearfix"></div>
                              </div><!--/col-md-8-->
                     	</div><!--/.row-->
                     </div><!--/.white-bg--> 
                  </div><!--/.tab-pane-->
                  <!--TAB CONTENT END-->
                  
                  
                </div><!--/.tab-content-->
                <!--ABOUT TAB END-->
                
                <!--ABOUT TAB NAVIGATION START-->
                <div class="white-bg clearfix">
                </div>
                <!--ABOUT TAB NAVIGATION END-->
                
                <div class="spacing40 clearfix"></div>


         
         
            </div><!--/.container-->
        </section><!--/about-->
		<!--ABOUT SECTION END-->
        
        
        <!--CONTACT SECTION START-->
        <section id="contact" class="clearfix content">
        	<div class="container">
            	<div class="title-content clearfix">
                	<div class="title-inner">
                    	<h3>Contact Us</h3>
                        <p>Communicate with us</p>
                    </div><!--/.title-inner-->
                </div><!--/.title-content-->
                
                <!--CONTACT TAB START-->
                <div class="tab-content white-bg">
                
                  <!--TAB CONTENT START-->
                  <div class="tab-pane fade" id="office">
                     <div class="white-bg clearfix">
                         <div class="row clearfix">
                             <div class="col-md-4">
                                 <div class="padding">
                                     <h2 class="about-title">Our Office</h2>
                                 </div><!--/.padding-->
                             </div><!--/col-md-4-->
                             <div class="col-md-8">
                                 <div class="padding">                                     
				     <p>If you are from media looking for an interview or a brand looking to partner with us or connect with student writers, please drop me an email or call me.</p>				
                                     <!--ADDRESS LIST START-->
                                     <ul class="address-list">
                                     	<li><i class="fa fa-map-marker"></i> 120, 1st Main, 3rd Cross, S.T. Bed Layout, 4th Block, Kormangala, Bangalore</li>
                                        <li><i class="fa fa-phone"></i> +91-9620267962</li>
                                        <li><i class="fa fa-suitcase"></i> 10 AM - 07 PM</li>
                                        <li><i class="fa fa-envelope"></i> <a href="javascript:void()">info@penpatron.com</a></li>
                                     </ul><!--/.address-list-->
                                     <!--ADDRESS LIST END-->
                                     
                                 </div><!--/.padding-->
                                 <div class="spacing40 clearfix"></div>
                              </div><!--/col-md-8-->
                     	</div><!--/.row-->
                     </div><!--/.white-bg--> 
                  </div><!--/.tab-pane-->
                  <!--TAB CONTENT END-->
                  
                  <!--TAB CONTENT START-->
                  <div class="tab-pane active fade in active" id="message-us">
                  	 <img src="{% static 'crsq/img/penpatron/contactus.jpg' %}" alt="contact">
                     <div class="white-bg clearfix">
                         <div class="row clearfix">
                             <div class="col-md-4">
                                 <div class="padding">
                                     <h2 class="about-title">Writers, Please Leave us a Message</h2>
                                 </div><!--/.padding-->
                             </div><!--/col-md-4-->
                             <div class="col-md-8">
                                 <div class="padding">
                                     <div id="form-wrapper">
                                         <div id="form-inner">
                                             <div id="ErrResults"><!-- retrive Error Here --></div>
                                             <div id="MainResult" style="display: none;"><!-- retrive response Here --></div>
                                             <div id="MainContent">
                                                 <form id="MyContactForm" name="MyContactForm" method="post">
                                                     <p class="name">
                                                         <input type="text" name="name" id="name" placeholder="Your Name ...">
                                                         <label for="name" id="nameLb"><span class="error" style="display: none;">*Name Field Required</span></label>
                                                     </p>
                                                     <p>
                                                         <input type="email" name="email" id="email" placeholder="Your Email ...">
                                                         <label for="email" id="emailLb">
                                                             <span class="error error1" style="display: none;">*Email Field Required</span> 
                                                             <span class="error error2" style="display: none;">*Email Not Valid</span>
                                                         </label>  
                                                     </p>
                                                     <p> 
                                                         <input type="text" name="phone" id="phone" placeholder="Your Telephone ...">
                                                         <label for="phone" id="phoneLb"><span class="error" style="display: none;">*Telephone Field Required</span></label>
                                                     </p>
                                                     <p> 
                                                         <input type="text" name="college" id="college" placeholder="Your College Name ...">
                                                         <label for="college" id="collegeLb"><span class="error" style="display: none;">*College Field Required</span></label>
                                                     </p>
						     <p> 
                                                         <input type="text" name="blog" id="blog" placeholder="Some Sample Writing ...">
                                                         <label for="blog" id="blogLb"><span class="error" style="display: none;">*Some Blog Link/Article Required</span></label>
                                                     </p>
                                                     <p class="textarea">
                                                         <textarea name="message" id="message" placeholder="Your Message ..." rows="4"></textarea>
                                                         <label for="message" id="messageLb"><span class="error" style="display: none;">*Message Field Required</span></label>
                                                     </p>
                                                     <div class="clearfix"></div>
                                                     <a href="#" class="contact-btn">Send Message</a>
                                             	</form>
                                             </div><!--MainContent-->
                                         </div><!--form-inner-->
                                     </div><!--form-wrapper-->
                                 </div><!--/.padding-->
                                 <div class="spacing40 clearfix"></div>
                              </div><!--/col-md-8-->
                     	</div><!--/.row-->
                     </div><!--/.white-bg--> 
                  </div><!--/.tab-pane-->
                  <!--TAB CONTENT END-->
                  
                </div><!--/.tab-content-->
                <!--CONTACT TAB END-->
                
                <!--CONTACT NAVIGATION TAB START-->
                <div class="white-bg clearfix">
                    <ul class="nav margin align-right nav-tabs">
                      <li><a href="#office" data-toggle="tab">Our Office</a></li>
                      <li class="active"><a href="#message-us" data-toggle="tab">Writers, Leave Message</a></li>
                    </ul>
                </div>
                <div class="spacing40 clearfix"></div>
                <!--CONTACT NAVIGATION TAB END-->
                
            </div><!--/.container-->
        </section><!--contact-->
        <!--CONTACT SECTION END-->
        
        <section class="footer clearfix">
        	<div class="container">
            	<div class="row">
                    <div class="col-sm-6">
                    	<p>Copyright 2013 <a href="#">pen patron</a></p>
                    </div><!--/.col-sm-6-->
                    <div class="col-sm-6">
                    	<ul class="soc-footer">
                        	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul><!--/.soc-footer-->
                    </div><!--/.col-sm-6-->
                </div><!--/.row-->
            </div>
        </section><!--footer-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="{% static 'crsq/js/penpatron/jquery.js' %}"></script>
    <script type="text/javascript">
        //<![CDATA[
            $(window).load(function() { // makes sure the whole site is loaded
                $("#status").fadeOut(); // will first fade out the loading animation
                $("#preloader").delay(350).fadeOut("slow"); // will fade out the white DIV that covers the website.
            })
        //]]>
    </script> 
    <script type="text/javascript" src="{% static 'crsq/js/penpatron/bootstrap.min.js?v=2' %}"></script> 
    <script type="text/javascript" src="{% static 'crsq/js/penpatron/jquery.scrollTo.js?v=2' %}"></script>
    <script type="text/javascript" src="{% static 'crsq/js/penpatron/jquery.nav.js?v=2' %}></script>
    <script type="text/javascript" src="{% static 'crsq/js/penpatron/contact.js?v=2' %}"></script>
    <script src="{% static 'crsq/js/penpatron/jquery.prettyPhoto.js?v=2' %}"></script> 
    <script src="{% static 'crsq/js/penpatron/main.js?v=2' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'crsq/js/penpatron/jquery.easing.js?v=2' %}"></script>
    <script type="text/javascript" src="{% static 'crsq/js/penpatron/supersized.3.2.7.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'crsq/js/penpatron/supersized.shutter.js?v=2' %}"></script>
    <script type="text/javascript" src="{% static 'crsq/js/penpatron/jquery.BlackAndWhite.min.js?v=2' %}"></script>
    <script type="text/javascript" src="{% static 'crsq/js/penpatron/script.js' %}"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-46477805-1']);
  _gaq.push(['_setDomainName', 'penpatron.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

	
</body></html>
