.suggestions *{
margin:0px !important;
padding:0px !important;
box-shadow:0 0 0px !important;
margin-top:0px !important;
margin-left:0px !important;
margin-bottom:0px !important;
margin-right:0px !important;
font-size:0px  !important;
text-align: left !important;
}
.suggestions{z-index:10 !important;overflow:hidden !important;}
.suggestion{position:relative;display:inline-block !important;float:none !important;border:0px #757575 solid !important;border-radius:0px !important;width:auto !important;cursor:pointer !important} 
.suggestions img{max-width:300px !important;}
.suggestion img{max-width:300px !important;border:0px solid !important}
#suggestionText{width:100%;position:absolute !important;margin-left:-2px !important;font-size:13px !important;font-weight:normal !important;font-family:arial !important;color:white !important;text-align:center !important;word-wrap:normal !important;vertical-align: middle !important;height:auto !important}
.suggestion img {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

   .suggestion:hover img{
      opacity: 0.2;
      }

#powered{margin-left:44% !important;color:grey !important;font-family:TimesNewRoman !important;font-size:80% !important;height:5%  !important;}
#powered *{height:100%;}
